<%- include("partials/header.ejs") -%>
<section id="home">
    <div class="colored-section">
        <h1 class="home-heading">Make Tax Season a Breeze with <span class="inbracket">Taxsol</span></h1>
        <p class="home-para"><span class="inbracket">Taxsol</span> is committed to making tax compliance easy for everyone. We provide a simple, efficient platform that helps our users stay compliant with the latest tax regulations. Our goal is to help make tax compliance easy and stress-free for everyone.</p>
    </div>
</section>

<!-- About section -->

<section id="about">
    <div class="left">
        <h2 class="about-para">WHO WE ARE</h2>
        <h3>Time-wasting is an epidemic. We're here to cure it.</h3>
        <ul>
            <li>Professionalism</li>
            <li>Paitence</li>
            <li>People-first Attitude</li>
        </ul>
    </div>
    <div class="right">
        <p>Taxsol was founded in 2022 with the goal of simplifying the process of filing income tax and GST returns for businesses and individuals. We offer a wide range of services to help our clients save time and money, including online filing, phone support, and paperless filing. We want to help you take care of your taxes so that you can focus on other things in your life. We believe that filing your taxes should be easy and stress-free, and we're here to help make that happen.</p>
    </div>
    <div id="carouselExample" class="carousel slide">  
        <div class="carousel-inner">
            <div class="carousel-item active">
                <h2>Value for Money.</h2>
                <div class="left">
                    <p>We understand how important it is for businesses to stay within their budget, which is why we offer a range of pricing options that are tailored to fit your individual needs. Our team works hard to ensure that you get quality products and services at an affordable price, so you can rest assured knowing that you’re getting the best value for your money.</p>
                </div>
                <img src="/images/features-3.png" alt="">
            </div>
            <div class="carousel-item">
                <h2>Long Term Relationship</h2>
                <div class="left">
                    <p>We believe in going the extra mile to ensure that our clients are taken care of. At inbracket, we don't just see our clients as a number. We see them as partners and we are invested in helping them succeed. That's why we focus on maintaining long-term relationships with our clients and providing the best possible service.</p>
                </div>
                <img src="/images/features-2.png" alt="...">
            </div>
            <div class="carousel-item">
                <i class="fa-solid fa-handshake fa-2xl"></i> <h2>CA/CS Assistance.</h2>
                <div class="left">
                    <p>Assitance is an important factor when it comes to making sure that the quality of service is maintained. The right kind of assistance can make a huge difference in the outcome of any process, whether it's a business process or an individual goal. we only take assistance from qualified chartered accountants who have years of experience in providing services in the field of taxation, accounting and finance. With their expertise, we can ensure that our clients receive quality services every time.</p>
                </div>
                <img src="/images/features-1.png" alt="...">
            </div>
            <div class="carousel-item">
                <h2>Secure & Swift Services.</h2>
                <div class="left">
                    <p>At Inbracket, we understand the importance of online security and speed, and we take the necessary steps to ensure that our customers receive the best service possible. We aim to provide our customers with a secure and fast paced service that they can trust and rely on.</p>
                </div>
                <img src="/images/features-4.png" alt="">
            </div>
            <div class="carousel-item">
                <i class="fa-solid fa-dollar-sign fa-2xl"></i>
                <h2>Transparent Pricing.</h2>
                <div class="left">
                    <p>We understand how important it is for businesses to stay within their budget, which is why we offer a range of pricing options that are tailored to fit your individual needs. Our team works hard to ensure that you get quality products and services at an affordable price, so you can rest assured knowing that you’re getting the best value for your money.</p>
                </div>
                <img src="/images/features-4.png" alt="...">
            </div>
            <div class="carousel-item">
                <h2>Data Confidentiality.</h2>
                <div class="left">
                    <p>At our firm, we understand the importance of protecting your personal data and ensuring that it remains confidential and secure. We strive to ensure that all customer data is kept safe and secure at all times, with the utmost respect for your privacy. We also have strict policies in place regarding the sharing of any customer information with third parties.</p>
                </div>
                <img src="/images/features-4.png" alt="...">
            </div>
            <div class="carousel-item">
                <i class="fa-regular fa-clock fa-2xl"></i>
                <h2>Meeting Deadlines.</h2>
                <div class="left">
                    <p>At Inbracket, we understand the importance of online security and speed, and we take the necessary steps to ensure that our customers receive the best service possible. We aim to provide our customers with a secure and fast paced service that they can trust and rely on.</p>
                </div>
                <img src="/images/features-4.png" alt="...">
            </div>
            <div class="carousel-item">
                <i class="fa-regular fa-message-exclamation"></i>
                <h2>Feedback.</h2>
                <div class="left">
                    <p>We understand that clients are part of the feedback loop, and we value their input to maintain and improve our service. We take feedback from clients seriously and take it into account to make sure we are providing the best possible service.</p>
                </div>
                <img src="/images/features-4.png" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>

<!-- Service section -->

<section id="service">
    <h1>SERVICE</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="feature-box col-lg-4"> 
                <h3>Goods & Service Tax (GST)</h3>
                <li>GST Registration.</li>
                <li>GST Returns.</li>
                <li>GST Cancellation.</li>
                <li>Reply to GST Notice.</li>
                <li>GSTR - 9.</li>
            </div>
            <div class="feature-box col-lg-4">
                <h3>Income Tax (IT)</h3>
                <li>Income Tax Return.</li>
                <li>TDS Return.</li>
                <li>Form 16 Issuance.</li>
                <li>Tax Audit (Turnover > 1 Crore).</li>
                <li>Reply to IT Notice.</li>
                <li>PAN Card Registration.</li>
            </div>
            <div class="feature-box col-lg-4">
                <h3>Business Compliances</h3>
                <li>Annual Filings of LLP.</li>
                <li>Annual Filings of Company.</li>
                <li>Change in LLP Agreement.</li>
                <li>Change in Registered Office Address.</li>
                <li>Add/Remove : Directors/Partners.</li>
                <li>Closing/Strike off : Company/LLP.</li>
                <li>Any Other Business Compliances.</li>
            </div>
            <div class="feature-box col-lg-4 spacing">
                <h3>Business License</h3>
                <li>Trade License.</li>
                <li>Labour License (Shop & Est).</li>
                <li>FSSAI (Food Safety) License.</li>
                <li>SSI/ MSME/ Udyog Aadhaar.</li>
                <li>Digital Signature Certificate (DSC).</li>
            </div>
            <div class="feature-box col-lg-4 spacing">
                <h3>Business Management</h3>
                <li>Adopting Internal Control Systems.</li>
                <li>Strategic Business Advisory.</li>
                <li>Accounting & Book-keeping.</li>
                <li>Payroll Management.</li>
                <li>Project Report.</li>
                <li>CMA Report.</li>
            </div>
            <div class="feature-box col-lg-4 spacing">
                <h3>Other Services</h3>
                <li>Society Registration.</li>
                <li>Trust Registration.</li>
                <li>Section 8 Company Registration.</li>
                <li>Trademark Registration.</li>
                <li>Trademark Renewal.</li>
                <li>Copyright Application.</li>
                <li>Patent Registration.</li>
            </div>
        </div>
    </div>    
</section>

<!-- FAQ section -->

<section id="faq">
    <h2 class="faq-heading">FREQUENTLY ASKED QUESTIONS</h2>
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Is financial year the same as Assessment year?
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    No it isn't. Assessment year is the year following the financial year, which is when the tax authorities evaluate your tax statements.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    What is Gross Total Income ?
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Gross Total Income is the sum total of your income from all sources, including salary, property, royalty, capital gains etc. We will calculate this for you once you enter it all in.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Is my Gross Total Income taxable?
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    No, it isn’t. Your Gross Total Income includes sources that are exempted from tax, and these won’t be included in your net taxable income.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    What is Net Taxable Income?
                </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Net Taxable Income is the portion of your income that is subject to tax, i.e. the Gross Total Income minus various tax exemptions that may be applicable. We does this calculation for you once all the information is available. 
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    What is Advance tax?
                </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Advance tax is the income tax that is payable once your income is more than Rs.10,000 in the given financial year.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                    Is my EPF completely Non-Taxable?
                </button>
            </h2>
            <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    No, only the employee contribution to the EPF is nontaxable.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                    Can I claim a tax deduction on my Fixed Deposit Account?           
                </button>
            </h2>
            <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    You can, but based on certain considerations like the period, amount and the kind of bank. 
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                    Can I Claim tax benefits on any kind of medical expenses?
                </button>
            </h2>
            <div id="collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Medical expenses may be exempt from tax, but only if the expense is for yourself or a dependent and only on certain diseases as specified under the Income Tax Act.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                    What is an ITR -V?
                </button>
            </h2>
            <div id="collapseNine" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    ITR-V is an acknowledgement slip generated on filing the income tax return online. This ITR-V is to be signed and sent to the Income tax department-CPC by post to complete the return filing process. The password of the document is a combination of PAN (in lowercase) and date of birth in the format ddmmyyyy. For example, if the PAN is AAAAP0000A and the date of birth is 10-Jan-1990, the password is aaaap0000a10011990
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                    What is TDS?
                </button>
            </h2>
            <div id="collapseTen" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    TDS is Tax Deducted at Source, and is usually deducted from the taxable portion of your salary before it reaches you, every month. This is usually mentioned by the company on tax documents.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                    I have Inherited some amount. Is that taxable?
                </button>
            </h2>
            <div id="collapseEleven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    No, inheritance is generally not considered taxable.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
                    I have Slightly disability. Will I get any tax benefits?
                </button>
            </h2>
            <div id="collapseTwelve" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Individuals with a normal to severe disability are eligible for tax benefits. However, the extent of the disability will have to be certified by an authorized medical professional.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
                    I have taken a housing loan for my home, although I Still live in a rented house. Can I claim any tax benefit?
                </button>
            </h2>
            <div id="collapseThirteen" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Yes, you can claim tax benefits through HRA (House Rent Allowance), subject to certain conditions.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen">
                    I have bought Some bonds from few government agencies. Are they relevant when it comes to taxes?
                </button>
            </h2>
            <div id="collapseFourteen" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Yes, they are. There are several tax-free bonds as approved by the Government of India.
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Contact section -->

<section id="contact">
    <h1>CONTACT ME</h1>
        <div class="left">
            <div>
                <i class="fa-solid fa-location-dot fa-lg"></i>
                <h3>Location:</h3>
                <p>Flat- 501 Sai ram residency, Sri ramachandra nagar, mahanadu road, vijayawada, 520008.</p>
            </div>
            <div>
                <i class="fa-regular fa-envelope fa-lg"></i>
                <h3>Email:</h3>
                <p>info@example.in</p>
            </div>
            <div>
                <i class="fa-solid fa-mobile-screen-button"></i>
                <h3>Call:</h3>
                <!--<p>+91 9640000741</p>--> <p>+91 9100892448</p>
            </div>
        </div>
        <div class="right">
            <form method="post" role="form" class="php-email-form" id="formData" action="/">
                <div class="row">
                    <div class="col-md-6 form-group">
                        <input type="text" name="Name" class="form-control" id="name" placeholder="Your Name" required="">
                    </div>
                    <div class="col-md-6 form-group mt-3 mt-md-0">
                        <input type="email" class="form-control" name="Email" id="email" placeholder="Your Email" required="">
                    </div>
                </div>
                <div class="form-group mt-3">
                    <input type="tel" class="form-control" name="MobileNo" id="subject" placeholder="Enter Mobile No" required="">
                </div>
                <div class="form-group mt-3">
                    <textarea class="form-control" name="Message" rows="5" placeholder="Message" required=""></textarea>
                </div>
                <div class="my-3">
                    <!--<div class="loading">Loading</div>-->
                    <!--<div class="error-message"></div>-->
                    <div id="successShow" style="display:none">Your message has been sent. Thank you!</div>
                </div>
            <div class="text-center"><button type="submit">Send Message</button></div>
        </form>  
    </div>
    <div class="colored-section both">
        <h2 class="inbracket">Taxsol</h2>
        <p>Taxsol is a Consultancy Service that is dedicated to helping its clients overcome any financial challenges they may face. We have experience in company audits, filing of income tax returns, TDS returns, GST returns, Income Tax Appeals, Projections, DCF calculation, and all kinds of required business registration. We always strive for quality of work and offer better client satisfaction.</p>
    </div>
    <!--{
    "Name": "Name",
    "Email": "abc@gmail.com",
    "MobileNo": "12345678945",
    "Message": "Test Mail"
    }-->
</section>